# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb

# Distribution / build
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/
.venv_Q_vol

# Jupyter
.ipynb_checkpoints/

# Output files
*.json
*.png
*.log

# OS
.DS_Store
Thumbs.db
